
#header, #footer, #content, #entity_subscriptions, 
#entity_subscribers, #entity_groups, #entity_lists, 
#entity_statistics, #tagcloud, #export_data {
display:none;
}
#content{
width:300px !important;
}

#aside_primary{
//display:none;
width:300px !important;
}
#site_nav_local_views{
display:none;
}
#aside_primary_wrapper,#core,#wrap{
width:340px !important;
}

#content h1{
display:none;
}
