
#header{
    display:none;
}
#footer{
    display:none;
}
#content{

}
#aside_primary{
    display:none;
}
#site_nav_local_views{
    display:none;
}
#aside_primary_wrapper,#core,#wrap{
/*    width:100% !important;*/
}

#circle {
    top:200px;
/*    left:30%;*/
}
#content h1{
    display:none;
}