
#header{
    display:none;
}
#footer{
    display:none;
}
#content{
    width:100% !important;
}
#aside_primary{
    display:none;
}
#site_nav_local_views{
    display:none;
}
#aside_primary_wrapper,#core,#wrap{
    width:100% !important;
}
#content h1{
    display:none;
}
